{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Touch Gestures Prototype</title>

	<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static '/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}" />

	<script src="{% static '/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static '/vendors/jquery-ui/jquery-ui.min.js' %}"></script>
	<script src="{% static '/vendors/hammer/hammer.min.js' %}"></script>
	<script src="{% static '/vendors/hammer/jquery.hammer.js' %}"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="viewport" content="width=device-width, user-scalable=no" />

	<style type="text/css">
		body {
			margin:0;
			padding:0;
		}

		.box-container {
			display: flex;
			flex-wrap: wrap;
		}

		.large-box {
			width: 100%;
			height: 300px;
			background: #0d124a;
			padding: 5px;
			margin: 0 10px 10px 0;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.small-box {
			width: 100px;
			height: 100px;
			background: #7ce6df;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.action-complete {
			background: #ffffff;
		}
	</style>

</head>

<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<h3>Task 4</h3>
				<div class="box-container">
					<div class="large-box">
						<div class="small-box" id="rotate-box">Rotate</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="pinch-box">Pinch</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="press-box">Press</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="pan-box">Pan</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="tap-box">Tap</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="swipe-box">Swipe</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
	  var box1 = document.getElementById("rotate-box");
    var box2 = document.getElementById("pinch-box");
    var box3 = document.getElementById("press-box");
    var box4 = document.getElementById("pan-box");
    var box5 = document.getElementById("tap-box");
    var box6 = document.getElementById("swipe-box");
    
    var mc1 = new Hammer.Manager(box1);
    var mc2 = new Hammer.Manager(box2);
    var mc3 = new Hammer.Manager(box3);
    var mc4 = new Hammer.Manager(box4);
    var mc5 = new Hammer.Manager(box5);
    var mc6 = new Hammer.Manager(box6);
    
    var rotate = new Hammer.Rotate();
    var pinch = new Hammer.Pinch();
    var press = new Hammer.Press();
    var pan = new Hammer.Pan();
    var tap = new Hammer.Tap();
    var swipe = new Hammer.Swipe();
    
    mc1.add(rotate);
    mc2.add(pinch);
    mc3.add(press);
    mc4.add(pan);
    mc5.add(tap);
    mc6.add(swipe);
    
    mc1.on("rotate", function(action) {
      box1.textContent = action.type + " detected";
      box1.style.height="200px";
      box1.style.width="200px";
      box1.style.background="#ff0000";
    });
    mc2.on("pinch", function(action) {
      box2.textContent = action.type + " detected";
      box2.style.background="#0000ff";
    });
    mc3.on("press", function(action) {
      box3.textContent = action.type + " detected";
      box3.style.height="75px";
      box3.style.width="75px";
      box3.style.background="#00ff00";
    });
    mc4.on("pan", function(action) {
      box4.textContent = action.type + " detected";
      box4.style.background="#FFA500";
    });
    mc5.on("tap", function(action) {
      box5.textContent = action.type + " detected";
      box5.style.background="#800080";
      box5.style.height="100%";
      box5.style.width="100%";
    });
    mc6.on("swipe", function(action) {
      box6.textContent = action.type + " detected";
      box6.style.background="#C0C0C0";
    });
  </script>
</body>
</html>
